
/* Common Styles */
body
{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
main
{
    display: flex;
    justify-content: center;
}
.container
{
    background: #fff;
    width: 870px;
}
/* top players and blogs start */

.players
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player
{
    display: flex;
    margin-bottom: 19px;
    align-items: center;
}

.player img 
{
    width: 56px;
    height: 56px;
    margin-right: 2em;
}